/* Navigation  */
#navbar{
    flex-direction: column;
    position: sticky;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */

#home{
    height: 245px;
    padding: 3px 18px;
    /* display: flex; */
    /* flex-direction: column; */
}
#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Sercice section */

#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* Contact section */
#contactbox form{
    width: 30%;
    justify-content: center;
    align-items: center;
}

/* Footer */

/* Utility classes */
.h-primary{
    font-size: 20px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}
